* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.main {
  width: 1100px;
  margin: 0 auto;
}

body {
  background-color: rgb(41, 41, 41);
}

.about-container {
  display: inline-block;
  width: 500px;
  height: 500px;
  margin-left: 245px;
  margin-top: 75px;
  color: rgb(255, 255, 255);
}

.about-container a {
  color: rgb(192, 191, 255);
}

.header-container a {
  color: white;
  background-color: black;
  border-radius: 50px;
  left: 180px;
  top: 10px;
  position: absolute;
}

nav{
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}

nav .wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgb(91, 30, 141);
  text-decoration: none;
  font-size: 47px;
  font-weight: 600;
  border: 1px solid;
  background-color: honeydew;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  color: #fff;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 9px 15px;
}

.nav-links li a:hover {
  background: #3A3B3C;
}

.nav-links .drop-menu{
  background-color: rgb(91, 30, 141);
  top: 65px;
  line-height: 45px;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px black;
  width: 450px;
}

.drop-menu li{
  padding: 6px;
  border: 1px 1px 1px solid;
}

.nav-links li:hover .drop-menu{
  opacity: .95;
  visibility: visible;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(41, 41, 41);
  margin: 0 auto;
  padding-top: 80px;
}

.genre-name {
  width: 100%;
  color: white;
}

.card-container {
  width: 200px;
  height: 180px;
  background-color: rgb(91, 30, 141);
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;

}

.card-container:hover {
  opacity: .7;
}

.game-name {
  font-size: 17px;
  font-weight: 500;
  color: rgb(153, 248, 255);
}

.card-container img {
  width: 200px;
}


.game-genre, .game-platform {
  color: rgb(196, 196, 196);
  font-size: 11px;
  display: inline;
}

.game-platform {
}

.sidebar-container {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgb(91, 30, 141);
  top: 64px;
}

.featured-container {
  width:800px;
  height: 400px;
  display: inline-block;
  background-color: blueviolet;
}

.categories li {
  color: white;
  line-height: 40px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  list-style: none;
}

.categories a {
  color:white;
}

.categories a:hover {
  color:white;
  background-color: black;
}

.info-container {
  color: white;
  width: 800px;
  margin-left: 300px;
  margin-top: 125px;
  background-color: rgb(63, 63, 63);
  display: inline-block;
}

.info-container img {
  width: 100%
}

.details {
  margin: 10px;
  text-align: center;
  line-height: 50px;
}

.details a {
  color:rgb(180, 180, 180);
}

.details h1{
  font-size: 40px;
}