* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body {
  background-color: rgb(41, 41, 41);
}

.App {
  /* text-align: center; */
}

.header-container a {
  color: white;
  /* width: 100px; */
  /* height: 100px; */
  background-color: black;
  border-radius: 50px;
  left: 180px;
  top: 10px;
  position: absolute;
}

nav{
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}

nav .wrapper {
  max-width: 1100px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a{
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  color: #fff;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
}

.nav-links li a:hover {
  background: #3A3B3C;
}

.nav-links .drop-menu{
  background: #242526;
  width: 150px;
  top: 65px;
  line-height: 45px;
  position: absolute;
  opacity: 1;
  visibility: hidden;
}

.nav-links li:hover .drop-menu{
  opacity: 1;
  visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(41, 41, 41);
  margin: 0 0 0 200px;
  padding-top: 80px;
  width: auto;
  text-align: center;
}

.card-container {
  width: 200px;
  height: 180px;
  background-color: rgb(91, 30, 141);
  margin-left: 10px;
  margin-top: 10px;
}

.card-container:hover {
  opacity: .7;
}

.card-container p {
  color: white;
}

.card-container img {
  width: 200px;
}

.game-genre, .game-platform {
  color: white;
  font-size: 10px;
  display: inline;
  margin-left: 20px;
  flex-grow: 1;
}

.sidebar-container {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgb(91, 30, 141);
  top: 64px;
}

.featured-container {
  width:800px;
  height: 400px;
  display: inline-block;
  background-color: blueviolet;
}

.categories li {
  color: white;
  line-height: 40px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  list-style: none;
}

.categories a {
  color:white;
}

.categories a:hover {
  color:white;
  background-color: black;
}

.info-container {
  color: white;
  width: 800px;
  margin-left: 200px;
  margin-top: 65px;
  background-color: rgb(63, 63, 63);
  display: inline-block;
}

.info-container img {
  width: 100%
}

.details {
  margin: 20px;
  text-align: center;
}